<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>게시글 상세</title>

</head>
<body>
<div th:replace="~{layout/header :: headerFragment}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="/js/board.js"></script>
<div class="container">
    <div class="row main-section">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card rounded-0 shadow-sm">
                <div class="card-header">
                    <span>작성자</span>
                    <span class="text-success" th:text="${board.user.name}"></span>
                    <span style="margin-left: 10px;">작성시간</span>
                    <span class="text-success" th:text="${board.formattedCreateTime}"></span>
                    <span style="float: right" class="text-success" th:text="${board.viewCount}"></span>
                    <span style="float:right"><img  style="width: 1em; height: 1em; margin-right: 10px;"  src="/images/icons8-view-50.png" alt="Icon"></span>
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${board.title}" ></h2>
                    <div style="margin-top: 50px;"></div>
                    <p class="card-title" th:utext="${board.content}"></p>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;"></div>
    <form action="#" th:action="@{/bbs/comment/create}" th:object="${comment}">
        <input type="hidden" id="articleId" name="articleId" th:value="${board.id}" />
        <div class="form-group">
            <label for="content">댓글 작성</label>
            <textarea class="form-control" id="content" name="content" rows="3" th:field="*{content}" placeholder="댓글을 입력해주세요"></textarea>
        </div>
        <button style="float: right" type="button" id="reply-save-btn" class="btn btn-primary">작성</button>
    </form>

    <div class="mt-4">
        <h5>댓글 목록</h5>
        <div th:each="comment : ${comments}">
            <div class="card mb-2">
                <div class="card-body">
                    <input type="hidden" id="replyId" name="articleId" th:value="${comment.id}" />
                    <p class="card-text" th:text="${comment.content}"></p>
                    <small class="text-muted" th:text="${comment.user.name}"></small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{layout/footer :: footerFragment}"></div>
</html>
