<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>스포츠 커뮤니티</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{layout/header :: headerFragment}"></div>

<div class="jumbotron" style="background-image: url('/images/체육.png'); background-size: cover; background-repeat: no-repeat; ">
  <div class="container">
    <h1 class="display-4" style="font-weight: bold; ">스포츠 게시판</h1>
<p class="lead" style="font-weight: bold; font-size: 1.2em;">스포츠 커뮤니티</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>베스트 게시글</h2>
      <a class="btn btn-secondary"  style="background-color: #007bff; color: #fff;" href="/home" role="button">베스트 게시글</a>
    </div>
    <div class="col-md-4">
      <h2>게시글</h2>
      <a class="btn btn-secondary"  style="background-color: #007bff; color: #fff;" href="/bbs" role="button">게시글</a>
    </div>
  </div>
</div>

<footer class="container">
  <hr>
  <p>&copy; 2023 홈페이지. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
