<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <!-- 게시글 목록 -->
    <div class="post-list">
        <h2>게시글 목록</h2>
        <ul class="list-group">
            <li class="list-group-item">게시글 1</li>
            <li class="list-group-item">게시글 2</li>
            <li class="list-group-item">게시글 3</li>
            <!-- 게시글 목록을 동적으로 출력하는 경우, 서버 사이드 코드를 이용하여 게시글 목록을 생성합니다. -->
            <!-- 예를 들어, Thymeleaf의 반복문을 사용하여 게시글 목록을 출력할 수 있습니다. -->
            <!-- 예시: -->
            <!-- <li class="list-group-item" th:each="post : ${posts}" th:text="${post.title}"></li> -->
        </ul>
    </div>

</div>
</html>