<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>사용자 등록</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<h3>사용자 등록</h3>
		<form action="#" th:action="@{/siteuser/signup}" th:object="${siteuser}" method="post">
			<div class="form-group">
				<label for="name">이름</label>
				<input type="text" id="name" name="name" th:field="*{name}" required>
			</div>
			<div class="form-group">
				<label for="email">이메일</label>
				<input type="email" id="email" name="email" th:field="*{email}" required>
			</div>
			<div class="form-group">
				<label for="password">암호</label>
				<input type="password" id="password" name="password" th:field="*{passwd}" required>
			</div>
			<div class="form-group">
				<label for="tel">전화번호</label>
				<input type="text" id="tel" name="tel" th:field="*{tel}" required>
			</div>
			<div class="form-group">
				<label for="address">주소</label>
				<input type="text" id="address" name="address" th:field="*{address}" required>
			</div>
			<div class="form-group">
				<button type="reset" class="btn btn-secondary">취소</button>
				<button type="submit" class="btn btn-primary">등록</button>
			</div>
		</form>
	</div>
</body>

</html>