<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보 변경</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{layout/header :: headerFragment}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="/js/userUpdate.js"></script>
<div class="container">
    <h3>내정보 변경</h3>
    <form action="#">
        <div class="form-group">
            <label class="name" th:text="|이름: ${user.name}|"></label>
        </div>
        <div class="form-group">
            <label class="email" th:text="|이메일: ${#authentication.name}|"></label>
        </div>
        <div class="form-group">
            <label>현재 암호</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <div class="form-group">
            <label for="newPassword">새 비밀번호:</label>
            <input type="password" class="form-control" id="newPassword" name="passwd"/>
        </div>
        <div class="form-group">
            <label for="newPassword">암호 확인:</label>
            <input type="password" class="form-control" id="checkPassword" name="checkPassword"/>
        </div>
        <div class="form-group">
            <label for="tel">전화번호:</label>
            <input type="tel" class="form-control" id="tel" name="tel" th:value="${user.tel}"/>
        </div>
        <div class="form-group">
            <label for="address">주소:</label>
            <input type="tel" class="form-control" id="address" name="address" th:value="${user.address}"/>
        </div>


        <button type="button" id="user-update-btn" class="btn btn-primary">Update</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
