<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/homepage">스포츠</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="btn-group">
            <a class="btn btn-secondary my-2 my-sm-0" style="background-color: #007bff; color: #fff;"  sec:authorize-expr="!isAuthenticated()" th:href="@{/signup}">Sign up</a>
            <a class="btn btn-secondary my-2 my-sm-0" style="background-color: #007bff; color: #fff;" sec:authorize-expr="!isAuthenticated()" th:href="@{/login}">Login</a>
            <a class="btn btn-secondary my-2 my-sm-0" style="background-color: #007bff; color: #fff;" sec:authorize-expr="isAuthenticated()" th:href="@{/update}" method="post">정보변경</a>
            <form class="form-inline" sec:authorize-expr="isAuthenticated()" th:action="@{/logout}" method="post">
              <button class="btn btn-secondary my-2 my-sm-0"  style="background-color: #007bff; color: #fff;" type="submit">로그아웃</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</html>
